:root {
  --bg-color: #f1f0ec;
  --second-color: #545353;
  --third-color: #354f52;
  --fourth-color: #345a78;
  --text-color: #2a3e52;
}

body {
  background-color: var(--bg-color);
  color: var(--second-color);
  font-family: "Geist", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 18px;
}

h1,
h2,
h3,
h4,
p,
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  padding-left: 0;
  list-style: none;
}

a,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: var(--second-color);
}

a:visited {
  color: var(--second-color);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
  color: var(--second-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.section {
  padding-top: 72px;
  padding-bottom: 72px;
}

.container {
  max-width: 1200px;
  padding-left: 120px;
  padding-right: 120px;
  margin-left: auto;
  margin-right: auto;
}

.section-subtitle {
  font-size: 22px;
  font-weight: 200;
  line-height: 1.5;
}

.section-text {
  font-size: 18px;
  line-height: 1.5;
}

/* header */
.header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.site-nav {
  display: flex;
  gap: 16px;
}

.nav-item {
  padding-top: 24px;
  padding-bottom: 24px;
}

.socials {
  display: flex;
  gap: 16px;
}

/* hero */
.hero-section {
  background-image: url("../images/hero/hero108.jpg");
  background-color: var(--bg-color);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 70vh;
  margin-left: auto;
  margin-right: auto;
  color: var(--bg-color);
  text-shadow: #545353 1px 1px 2px, #545353 0 0 1em, #545353 0 0 0.2em;

  display: flex;
  align-items:center;
  /* text-align: center; */
}

.hero-container{
width: 100%;
}

.hero-title {
  font-size: 58px;
  margin-bottom: 48px;
}

.section-title {
  font-size: 42px;
  margin-bottom: 48px;
}

.hero-subtitle {
  font-size: 28px;
  line-height: 1.5;
}

.button {
  background-color: #e0e0e0;
  border-radius: 50px;
  box-shadow:
    inset 4px 4px 10px #bcbcbc,
    inset -4px -4px 10px #ffffff;
  color: var(--text-color);
  cursor: pointer;
  font-size: 18px;
  padding: 15px 40px;
  transition: all 0.2s ease-in-out;
  border: 2px solid rgb(206, 206, 206);
  font-family: inherit;

  margin-top: 48px;
}

button:hover {
  box-shadow:
    inset 2px 2px 5px #bcbcbc,
    inset -2px -2px 5px #ffffff,
    2px 2px 5px #bcbcbc,
    -2px -2px 5px #ffffff;
}

button:focus {
  outline: none;
  box-shadow:
    inset 2px 2px 5px #bcbcbc,
    inset -2px -2px 5px #ffffff,
    2px 2px 5px #bcbcbc,
    -2px -2px 5px #ffffff;
}
/* help */

.help-list {
  display: flex;
  justify-content: space-between;

  margin-top: 72px;
}

.help-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.help-icon {
  margin-bottom: 24px;
  fill: var(--second-color);
  align-self: center;
}

/* about */

.about-content-wrapper {
  display: flex;
  gap: 120px;
}
