:root {
  --bg-color: #f1f0ec;
  --second-color: #545353;
  --third-color: #354f52;
  --fourth-color: #345a78;
  --text-color: #2a3e52;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "LINE Seed JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

.section {
}
.container {
}
